body{
    margin: 0;
    background-color: lightgreen;
    text-align: center;
}
h1{
    font-size: 36px;
}
p{
    font-size: 18px;
}


@media screen and (max-width:768px){
    body{
        background-color: rebeccapurple;
    }
}
@media screen and (max-width:320px){
    body{
        background-color: white;
    }
}